
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/Server/sqlite3/storage.ide-shm
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/Server/sqlite3/storage.ide-wal
LUIS-pizzaorder/.vs/config/applicationhost.config
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/LUIS-pizzaorder/LUIS-pizzaorder.csproj
*.config
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/.suo
LUIS-pizzaorder/.vs/LUIS-pizzaorder/v15/Server/sqlite3/storage.ide-wal
LUIS-pizzaorder/LUIS-pizzaorder/bin/LUIS-pizzaorder.dll
*.dll
*.ide-wal
*.pdb
LUIS-pizzaorder/LUIS-pizzaorder/obj/Debug/LUIS-pizzaorder.csprojAssemblyReference.cache
