@{


    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="~/Content/style.css" />
<div class="split left">
    <div class="centered">
        <a href="login.html">
            <img src="~/Content/img/Side-Login.png" alt="">
        </a>
        <h2>Sign-in</h2>
        <a href="checkout.html">
            <img src="~/Content/img/shopping-cart.png" alt="">
        </a>
        <h2>Check-Out</h2>
    </div>
</div>


<div class="split right">
    <div class="chatbox">
        <iframe src='https://webchat.botframework.com/embed/pizzaAutomLUISBot?s=dht0TZD1Reg.kFuW1oZyuj_gAe8B3g0PcUbdj2Gh0VVa9yWBZlp8fDU' style='min-width: 400px; width: 100%; min-height: 600px;'></iframe>
        <!--<div class="chatlogs">

            <div class="chat bot">
                <div class="user-photo"><img src="img/chat-bot.png"></div>
                <p class="chat-message">How can I help you</p>
            </div>
            <div class="chat user">
                <p class="chat-message">I want a pizza</p>
            </div>
            <div class="chat bot">
                <div class="user-photo"><img src="img/chat-bot.png"></div>
                <p class="chat-message">What kind of pizza would you like?</p>
            </div>
            <div class="chat user">
                <p class="chat-message">The Pizza kind</p>
            </div>
            <div class="chat bot">
                <div class="user-photo"><img src="img/chat-bot.png"></div>
                <p class="chat-message">What kind of pizza would you like?</p>
            </div>
            <div class="chat user">
                <p class="chat-message">What do you have?</p>
            </div>
            <div class="chat bot">
                <div class="user-photo"><img src="img/chat-bot.png"></div>
                <p class="chat-message">We have Pepperoni, Barbeque, Cheese, and Hawaiian Pizza</p>
            </div>

        </div>

        <div class="chat-form">
            <textarea></textarea>
            <button>Send</button>
        </div>-->
    </div>




</div>