@model LUIS_pizzaorder.Models.user

@{
    /**/

    ViewBag.Title = "Home";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Agency Page Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Welcome To Pizza Eats</h1>
                        <p class="text-center">If you would like to place an order with us through our bot, please click here to begin!</p>
                        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Place Order</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row"> </div>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="vector-signin.png" data-holder-rendered="true">
                    <h3>Sign In</h3>
                    <p><a class="btn btn-link" href="Menu.html">Click Here »</a></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="vector-signUp.png" data-holder-rendered="true">
                    <h3>Sign Up</h3>
                    <p><a class="btn btn-link" href="Signup.html">Click Here »</a></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="vector-checkout.png" data-holder-rendered="true">
                    <h3>Checkout</h3>
                    <p><a class="btn btn-link" href="Menu.html">Click Here »</a></p>
                </div>
            </div>
            <footer class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12"> </div>
                    </div>
                </div>
            </footer>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery-3.3.2.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap-4.3.1.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
