* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body{
  background: #aa2252;
}
.header-logo{
  width: 100px;
  height: 50px;
}

.container-pastorders{
  width:200px;
  height:150px;
  background: #fff;
  padding: 25px;
  margin:10px 10px;
}

.chatbox{
  width: 800px;
  min-width:390px;
  height: 850px;
  background: #fff;
  padding: 25px;
  margin: 0px 700px;
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 750px;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar{
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo{
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img{
  width: 100%;
}

.chat .chat-message {
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}

.bot .chat-message {
  background: #aa2252;
}

.user .chat-message {
  background: #d89eb2;
  order: -1;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items:flex-start;
}

.chat-form textarea {
  background: #fbfbfb;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.chat-form textarea:focus {
  background: #fff;
  resize: none;
}

.chat-form textarea::-webkit-scrollbar{
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat-form button {
  background: #a34465;
  padding: 5px 15px;
  font-size: 30px;
  color: #fff;
  border: none:
  margin: 0 10px;
  border-radius: 0 3px 0 #0eb2c1;
  cursor: pointer;

  -webkit-transition: background .2s a ease;
  -moz-transition: background .2s a ease;
  -o-transition: background .2s a ease;
}

.chat-from button:hover {
  background: #13c8d9;
}
